<div class="loginContainer">

<form *ngIf="reset" [formGroup]="resetUserPwdForm" (submit)="savePwd()">


  <label for="password">Password</label><br>
  <input formControlName="password" id="password" /><br>
  <control-messages [control]="resetUserPwdForm.get('password')"></control-messages><br>

  <label for="confirmPassword">Confirm Password</label><br>
  <input formControlName="confirm_password" id="confirmPassword" /><br>
  <div class="control-messages-error"
    *ngIf="resetUserPwdForm.errors?.passwordNotMatch && (resetUserPwdForm.get('confirm_password').touched || resetUserPwdForm.get('confirm_password').dirty)">
    Password not matching</div>

  <control-messages [control]="resetUserPwdForm.get('confirm_password')"></control-messages><br>

  <button type="submit" [disabled]="!resetUserPwdForm.valid">Submit</button>
</form>
<form *ngIf="!reset" [formGroup]="resetUserPwdForm" (submit)="savePwd()">
  <label for="oldPassword">Password</label><br>
  <input formControlName="oldPassword" id="oldPassword" /><br>
  <control-messages [control]="resetUserPwdForm.get('oldPassword')"></control-messages><br>

  <label for="password">New Password</label><br>
  <input formControlName="password" id="password" /><br>
  <control-messages [control]="resetUserPwdForm.get('password')"></control-messages><br>

  <label for="confirm_password">Confirm New Password</label><br>
  <input formControlName="confirm_password" id="confirmPassword" /><br>
  <div class="control-messages-error"
    *ngIf="resetUserPwdForm.errors?.passwordNotMatch && (resetUserPwdForm.get('confirm_password').touched || resetUserPwdForm.get('confirm_password').dirty)">
    Password not matching</div>

  <control-messages [control]="resetUserPwdForm.get('confirm_password')"></control-messages><br>

  <button type="submit" [disabled]="!resetUserPwdForm.valid">Submit</button>
</form>
</div>