/* You can add global styles to this file, and also import other style files */
html,body {
    width: 100%;
    height: 100%;
}
.buttonPadding {
    padding: 0px 10px;
}
.loginContainer {
    width: 65%;
    /* position: relative; */
    /* left: auto; */
    /* right: 0%; */
    float: right;
    padding-top: 10%;
    // /* border: 1px solid;
}
.loginCard {
    width: 45%;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #e6e1e1;
    background: #f7f7f7;
}
.active {
    color: green;
}
.inActive {
    color: #e62424;
}
.adminContainer {
    position: relative;
    width: 100%;    
}
.tableContainer {
        /* position: relative; */
        margin: 0 auto;
        /* padding: 20px 0px 0px 45px; */
        width: 80%;
        position: relative;
        margin-top: 2%;
        margin-left: 15%;
}
.marginBottom10px {
    margin-bottom: 10px;
}
.margin0px {
    margin: 0px !important;
}
.control-messages {
    color: #e62424;
}
.displayBlock {
    display: block !important;
}
.displayInlineBlock {
    display: inline-block !important;
}
.floatRight {
    float: right;
}
.width100 {
    width: 100%;
}
.loginContainer {
    input {
        width: inherit;
    }
}
.cardStyleCenter {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px 10px;
}
.capitalize {
    text-transform: capitalize;
}
.bodyContainer {
    width: 100%;
    height: 100%;
    background: #efefef;
}
.parentContainer {
    width: 100%;
    height: 100%;
    background: #efefef;
}
.backgroundWhite {
    background: white !important;
}
.colorBlack {
    color: black !important;
}
.adminTableHeader {
    border-bottom: 1px dotted black;
}
.adminTableContainer {
    th,td {
        padding: 10px 10px  ;
    }
}

.addUserButton {
    background-color: White;
    border: none;
    // color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .addUserButton:hover {opacity: 1}

  .headerBoxShadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
  }